<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
  <h1>Felicitaciones!! Acabamos de enviarte el/los Qrs para validar el acceso al evento</h1>
    {{#each ticketsFormatted}}
      <div style="border:2px solid #333333;padding:1rem;margin-bottom:1rem;border-radius:15px">
        <h3 style="margin: 0;">Ticket {{@key}}</h3>
        <ul style="list-style-type: none;">
        {{#each this}}
            <li><b>{{@key}}</b>: {{this}}</li>
        {{/each}} 
        </ul> 
      </div>
    {{/each}}
</body>
</html>