<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
    {{#each tickets}}
    <li>
      {{#each this}}
          {{#each this}}
            <p class="row">{{attendeeFirstName}} {{attendeeLastName}}</p>
          {{/each}}
      {{/each}}
    </li>
    {{/each}}
</body>
</html>