<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
    <p>Felicitaciones!! Acabamos de enviarte el/los Qrs para validar el acceso al evento</p>
    <h3 style="margin: 0;">Tickets</h3>
    {{#each formatedTickets}}
      <ul style="list-style-type: none;">      
      {{#each this}}
        <li><b>{{@key}}</b>: {{this}}</li>
      {{/each}} 
      </ul> 
    {{/each}}
    
</body>
</html>