<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
  <div style="font-family: sans-serif; text-align: center!important"></div>
    <h1 style="text-align:center;">Gracias por tu compra</h1>
    <p style="text-align:center;">Te enviamos las entradas. <br/> Recordá llevarlas el día del evento junto con tu DNI</p>
    <h2 style="text-align:center;">Resumen de la compra:</h2>
      {{#each ticketsFormatted}}
        <div  style="border: 2px solid lightgray; padding: 30px 20px; width: max-content; margin: 10px auto; border-radius: 5px">
          <h4>Datos de la entrada:</h4>
          <ul style="list-style: none; padding-left: 0!important; text-align: left">
          {{#each this}}
              <li style="margin-block: 4px;margin-left: 0;"><span style="font-weight: bold">{{@key}}</span>: {{this}}</li>
          {{/each}} 
          </ul> 
        </div>
      {{/each}}    
  </div>
</body>
</html>